*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #5D6D7E,#566573);
}

.main button{
    padding: 10px 12px;
    margin: 0 10px;
}

.main #logo{
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 25px;
    color: aliceblue;
}

.right, .left{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left img{
    height: 300px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 12px rgba(240,240,240,0.2);
}

input[type="range"]{
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: orangered;
    border-radius: 50px;
    cursor: pointer;
}

.right input[type="range"]{
    width: 40%;
}

.left .vol{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.left .vol p{
    font-size: 15px;
}

.left .vol i{
    cursor: pointer;
    padding: 8px 12px;
    background: orangered;
}

.left .vol i:hover{
    background: rgba(245,245,245,0.2);
}

.vol #volume{
    padding: 8px 12px;
    margin: 0 5px 0 0;
    background: rgba(245, 245, 245, 0.2);
}

.right .middle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .middle button{
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(245, 245, 245, 0.2);
}

.right #title{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: aliceblue;
    font-size: 30px;
}

.right #artist{
     position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: aliceblue;
    font-size: 20px;
}

.right .duration{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin-top: 40px;
}

/* .right .duration p{
    color: aliceblue;
    font-size: 15px;
    margin-left: 20px;
} */

.right #auto{
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
    border: none;
    padding: 10px 14px;
    color: white;
    background: rgba(245, 245, 245, 0.2);
    border-radius: 10px;
    outline: none;
}

.right #auto i{
    margin-left: 8px;
}